.landing{
    position: relative;
    display: flex;
    margin:0px;
    height: 100vh;
    overflow: hidden;
  background-color:white;
  @media (max-width: 767px) {
    overflow:auto;
  }
  .imageContainer{
    margin-left:450px;
    display:flex;
    font-size:100px;
    width: 100wh;
    height: 700px;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
      font-size:50px; // Show the button on small screens
      width:767px;
      margin-left:0px;
      margin-right:0px;
    }

}
    
    .sliderContainer{
      position: absolute;
      top: calc(100vh - 300px);
    }
    
    .slider{
      position: relative;
      white-space: nowrap;
    }
    
    .slider p{
      position: relative;
      margin: 0px;
      color: black;
      font-size: 230px;
      font-weight: 500;
      padding-right: 50px;
    }
    
    .slider p:nth-of-type(2){
      position: absolute;
      left: 100%;
      top: 0;
    }
  
    .description{
      position: absolute;
      top: 35%;
      left: 65%;
      color: white;
      font-size: 24px;
      font-weight: 300;
      p{
        margin: 0px;
        margin-bottom: 10px;
      }
      svg{
        transform: scale(2);
        margin-bottom: 100px;
      }
    }
  }
  
